body {
    font-family: 'Poppins'; /* define a fonte do site inteiro */
}

.cabecalho {
    display: flex; /* prosição dos elementos, nesse caso, coloca um do lado do outro */
    justify-content: space-between; /* insere espeço pra justificar o conteudo, nesse caso, insere um espaço entre a logo e os botões */
    padding: 30px; /* espaçamento do cabeçalho da margem do site */
    max-width: 1440px; /* largura maxima do elemento */
    margin: 0 auto; /* forma de centralizar o item, o 0 é pra nao alterar a parte de cima e de baixo, o auto divide o espaço restante da lateral e insere e cada lao para centralizar */
}

.cabecalho .logo {
    width: 65px; /* largura da imagem logo do site */
}

.cabecalho .menu {
    display: flex;
    align-items: center; /* vai alinhar o texto verticalmente no espaço que ele ocupa */
    height: 100%; /* altera a altura que o elemento pode utilizar, nesse caso, 100% da altura do cabecalho (item mãe) */
}

.cabecalho nav li a {
    font-weight: bold; /* peso da fonte, da pra colocar negrito, nesse caso */
    color: white; /* altera a cor (do texto nesse caso)(pode ser inserido como hexadecimal */
    font-size: 25px; /* tamanho da fonte no site */
    padding: 10px 20px; /* espaçamento dos botões, o primeiro é o de cima e o de baixo, e o segundo seria dos lados */
    border-radius: 50px; /* mexe nas bordas do botão */
    transition: 0.2s;
}

.cabecalho nav li a:hover { /* cria a pseudoclasse para transformar as listas em botões */
    background-color: #d5011d;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    height: calc(100vh - 132px); /* vh=viewport height: vai alinhar em X% da tela do usuario */
    padding: 0 30px 30px; /*  */
}

.container .imagem-titulo {
    max-width: 500px;
}

.container .descricao {
    color: #a8adb7;
    width: 85%;
    font-size: 18px;
    margin: 30px 0;
}

.container .botao-trailer {
    background-color: #ff0021;
    color: #ffffff;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer; /* coloca a mãozinha no botão */
    border: none; /*  */
    text-transform: uppercase; /*  */
    transition: 0.5s all ease-in-out; /*  */
}

.container .botao-trailer:hover {
    transform: scale(1.1);
}

.fundo-video {
    position: absolute; /* coloca o elemento em uma camada diferente */
    z-index: -1; /* seleciona a camada que o elemento deve ser posicionado */
    width: 100vw;
    height: 100vh;
    overflow: hidden; /* ajusta o video no tamanho certo da tela */
}

.fundo-video .video {
    height: 100vh;
}

.fundo-video::after {
    content: "";
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.8) 50%, rgba(0,0,0,1) 100%);
}
.modal {
    background-color: rgba(52,52,50,0.749);
    position: fixed; /* ficará fixo na mesma posição */
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.conteudo-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    border-radius: 5px;
    gap: 15px; /* espaça os elementos */
}

.fechar-modal {
    background-color: white;
    color: #f03a17;
    font-weight: bold;
    font-size: 20px;
    width: 40px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}

.modal iframe{
    border-width: 0;
    width: 640px;
    height: 360px;
}

.modal.aberto{
    opacity: 1;
    visibility: visible;
}