/* edição geral da pagina */
* { 
    margin: 0; /* mexe na margem do site */
    padding: 0; /*  */
    box-sizing: border-box; /*  */
}

/* edição das listas que tem no site */
ul {
    list-style: none; /* retira as bolinhas ou numerações da lista */
}

/* edições de texto */
a {
    text-decoration: none; /* remove os textos azuis com links */
}